* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 75px;
    height: auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #265c42; /* Correction ici */
    transition: box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 36px;
    font-family: Fantasy, sans-serif;
}

.grandLogo {
    width: 100vw;
    height: auto;
    object-fit: cover;
    display: block;
}

.head {
    text-align: left;
    font-weight: bold;
}

.unbouton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #48cc9f;
    color: white; /* Ajout d'une couleur par défaut */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* J'ai gardé le 5px, tu avais aussi 80px plus haut */
    transition: all 0.2s ease;
}

.unbouton:hover {
    background-color: #6acc9f;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.unbouton:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.head:link {
    color: #ff00ff;
    text-decoration: underline;
}

header.scroll-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
